{{#partial "content"}}
    <section>
        <div class="row">
            <div class="col-sm-12 col-md-6">
                {{#with instanceInfo}}
                <table class="table table-bordered" id="instanceDetails">
                    <tbody>
                    <tr>
                        <th scope="row">App</th>
                        <td><a href="/applications/{{appId}}">{{appId}}</a></td>
                    </tr>
                    <tr>
                        <th scope="row">Instance ID</th>
                        <td>{{instanceId}}</td>
                    </tr>
                    <tr>
                        <th scope="row">State</th>
                        <td>{{state}}</td>
                    </tr>
                    {{#with localInfo}}
                        <tr>
                            <th scope="row">Host</th>
                            <td>{{hostname}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Ports</th>
                            <td>
                                <table>
                                    <tbody>
                                    {{#each ports}}
                                        <tr>
                                            <td><b>Port: </b>{{@key}}</td>
                                            {{#with this}}
                                                <td><b>Container: </b>{{containerPort}}</td>
                                                <td><b>Host: </b>{{hostPort}}</td>
                                                <td><b>Type: </b>{{portType}}</td>
                                            {{/with}}
                                        </tr>
                                    {{/each}}
                                    </tbody>
                                </table>

                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Resources</th>
                            <td>
                                <table>
                                    <tbody>
                                    {{#each resources}}
                                        <tr>
                                            <th scope="row">{{type}}</th>
                                            <td>{{{resourceRepr this}}}</td>
                                        </tr>
                                    {{/each}}
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    {{/with}}
                    <tr>
                        <th scope="row">Error Message</th>
                        <td>{{errorMessage}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Created</th>
                        <td>{{created}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Updated</th>
                        <td>{{updated}}</td>
                    </tr>
                    </tbody>
                </table>
                {{/with}}
            </div>
            <div class="col-sm-12 col-md-6">
                <table class="table table-bordered" id="instanceLogs">
                    <thead>
                        <tr>
                            <th>Logs</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </section>
{{/partial}}

{{#partial "page_js"}}


    function logListExploder(res) {
        if(!res.files) {
            return [];
        }
        const ret = [];
        res.files.forEach( (fileName, i) => {
            const info = {};
            info['fileName'] = '<a href="/applications/{{appId}}/instances/{{instanceId}}/stream?logFileName=' + encodeURIComponent(fileName) + '" target="_blank">' + fileName + '</a>';
            info['downloadLink'] = '<a href="/apis/v1/logfiles/applications/{{appId}}/{{instanceId}}/download/' + fileName + '">Download</a>';
            ret.push(info);
        });
        return ret;
    }

    var summary = $('#instanceLogs').DataTable({
        'processing' : true,
        'ajax': {
            'url' : '/apis/v1/logfiles/applications/{{appId}}/{{instanceId}}/list',
            'dataSrc' : logListExploder
        },
        'paging': false,
        'searching' : false,
        'ordering' : false,
        'info' : false,
        'columns' : [
            { 'data' : 'fileName' },
            { 'data' : 'downloadLink' },
        ]
    });


    summary.ajax.reload();

    setInterval(() => {
        summary.ajax.reload(null, false);
    }, 30000);

{{/partial}}
{{> common/base}}