{{#partial "content"}}
    <script type="text/template" data-template="instance-details">
        {{#with instanceInfo}}
        <table class="table table-bordered">
            <tbody>
            <tr>
                <th scope="row">Service ID</th>
                <td class="fw-bold">
                    <a href="/localservices/{{serviceId}}"><span class="copyable">{{serviceId}}</span></a>
                    <a class="ms-3 copy-button text-body" data-bs-toggle="tooltip" data-bs-placement="top" title="Copy to clipboard">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-copy" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M4 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 5a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-1h1v1a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h1v1z"/>
                        </svg>
                    </a>
                </td>
            </tr>
            <tr>
                <th scope="row">Instance ID</th>
                <td>
                    <span class="copyable">{{instanceId}}</span>
                    <a class="ms-3 copy-button text-body" data-bs-toggle="tooltip" data-bs-placement="top" title="Copy to clipboard">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-copy" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M4 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 5a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-1h1v1a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h1v1z"/>
                        </svg>
                    </a>
                </td>
            </tr>
            <tr>
                <th scope="row">State</th>
                <td>${state}</td>
            </tr>
            {{#with localInfo}}
                <tr>
                    <th scope="row">Host</th>
                    <td>{{hostname}}</td>
                </tr>
                <tr>
                    <th scope="row">Ports</th>
                    <td>
                        <table>
                            <tbody>
                            {{#each ports}}
                                <tr>
                                    <td><b>Port: </b>{{@key}}</td>
                                    {{#with this}}
                                        <td><b>Container: </b>{{containerPort}}</td>
                                        <td><b>Host: </b>{{hostPort}}</td>
                                        <td><b>Type: </b>{{portType}}</td>
                                    {{/with}}
                                </tr>
                            {{/each}}
                            </tbody>
                        </table>

                    </td>
                </tr>
                <tr>
                    <th scope="row">Resources</th>
                    <td>
                        <table>
                            <tbody>
                            {{#each resources}}
                                <tr>
                                    <th scope="row">{{type}}</th>
                                    <td>{{{resourceRepr this}}}</td>
                                </tr>
                            {{/each}}
                            </tbody>
                        </table>
                    </td>
                </tr>
            {{/with}}
            <tr>
                <th scope="row">Created</th>
                <td>${created}</td>
            </tr>
            <tr>
                <th scope="row">Last Updated</th>
                <td>${age} ago (${updated})</td>
            </tr>
            <tr>
                <th scope="row">Error Message</th>
                <td>${errorMessage}</td>
            </tr>
            </tbody>
        </table>
        {{/with}}
    </script>
    <section>
        <div class="row">
            <div class="col-sm-12 col-md-6" id="instanceDetailsContainer">
            </div>
            <div class="col-sm-12 col-md-6">
                {{#if hasReadAccess}}
                    <table class="table table-bordered" id="instanceLogs">
                        <thead>
                        <tr>
                            <th>Logs</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                {{else}}
                    <span class="text-danger">You do not have access to log files on this cluster</span>
                {{/if}}
            </div>
        </div>
    </section>
{{/partial}}

{{#partial "page_js"}}

    function loadInstanceInfo() {
        $.ajax({
            url: '/apis/v1/localservices/{{serviceId}}/instances/{{instanceId}}',
            success: function(res) {
                if(!res || !res.data) {
                    console.log('No data received for {{serviceId}}/{{instanceId}}');
                    return;
                }
                const data = res.data;
                renderTemplate(
                    'instance-details',
                    [{
                        state: instanceStateToHtml(data.state),
                        errorMessage: data.errorMessage,
                        created: new Date(data.created).toLocaleString(),
                        age: ageInWords(data.created),
                        updated: new Date(data.updated).toLocaleString(),
                    }],
                    '#instanceDetailsContainer');
            }
        });
    }

    function logListExploder(res) {
        if(!res.files) {
            return [];
        }
        const ret = [];
        res.files.forEach( (fileName, i) => {
            const info = {};
            info['fileName'] = '<a href="/localservices/{{serviceId}}/instances/{{instanceId}}/stream?logFileName=' + encodeURIComponent(fileName) + '" target="_blank">' + fileName + '</a>';
            info['downloadLink'] = '<a href="/apis/v1/logfiles/localservices/{{serviceId}}/{{instanceId}}/download/' + fileName + '">Download</a>';
            ret.push(info);
        });
        return ret;
    }

    const logList = $('#instanceLogs').DataTable({
        'processing' : true,
        'ajax': {
            'url' : '/apis/v1/logfiles/localservices/{{serviceId}}/{{instanceId}}/list',
            'dataSrc' : logListExploder
        },
        'paging': false,
        'searching' : false,
        'ordering' : false,
        'info' : false,
        'columns' : [
            { 'data' : 'fileName' },
            { 'data' : 'downloadLink' },
        ]
    });


    loadInstanceInfo();
    logList.ajax.reload();

    setInterval(() => {
        loadInstanceInfo();
        logList.ajax.reload(null, false);
    }, 30000);

{{/partial}}
{{> common/base}}