<table class="table table-bordered data-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>ExecutorId</th>
            <th>Host</th>
            <th>Port</th>
            <th>State</th>
            <th>Log Stream</th>
        </tr>
    </thead>
    <tbody>
        {{#each instances}}
            <tr>
                <td>{{instanceId}}</a></td>
                <td>{{executorId}}</td>
                {{#if localInfo}}
                    {{#with localInfo}}
                        <td>{{hostname}}</td>
                        <td>
                            {{#each ports}}
                                <b>{{@key}}</b>: {{#with this}}{{hostPort}}{{/with}}
                            {{/each}}
                        </td>
                    {{/with}}
                {{else}}
                    <td></td>
                    <td></td>
                {{/if}}
                <td>{{state}}</td>
                <td>TODO</td>
            </tr>
        {{/each}}
    </tbody>
</table>