
<table class="table table-bordered data-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Expected Instances</th>
            <th>Healthy Instances</th>
            <th>CPU</th>
            <th>Memory (MB)</th>
            <th>State</th>
        </tr>
    </thead>
    <tbody>
        {{#each apps}}
            <tr>
                <td><a href="/applications/{{id}}">{{id}}</a></td>
                <td>{{#with spec}}{{name}}{{/with}}</td>
                <td>{{instances}}</td>
                <td>{{healthyInstances}}</td>
                <td>{{totalCPUs}}</td>
                <td>{{totalMemory}}</td>
                <td>{{state}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>